body {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

header p {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
}

.container {
  max-width: 730px;
}


/*
a:link {
  color: var(--blue);
}

a:visited {
  color: var(--violet);
}
*/

.fa-color-blue {
  color: var(--blue);
}
.fa-color-cyan {
  color: var(--cyan);
}
.fa-color-green {
  color: var(--green);
}
.fa-color-magenta {
  color: var(--magenta);
}
.fa-color-orange {
  color: var(--orange);
}
.fa-color-red {
  color: var(--red);
}
.fa-color-violet {
  color: var(--violet);
}
.fa-color-yellow {
  color: var(--yellow);
}

.right {
  float: right;
  vertical-align: top;
}
