body {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

header p {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 19px;
  color: var(--base0);
  border-top: 1px solid rgb(238, 238, 238);
  margin-top: 40px;
}

.container {
  max-width: 730px;
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--blue);
}

a:hover, a:focus {
  text-decoration: none;
}

#pronouns {
  color: var(--cyan);
}

.fa-color-blue {
  color: var(--blue);
}
.fa-color-cyan {
  color: var(--cyan);
}
.fa-color-green {
  color: var(--green);
}
.fa-color-magenta {
  color: var(--magenta);
}
.fa-color-orange {
  color: var(--orange);
}
.fa-color-red {
  color: var(--red);
}
.fa-color-violet {
  color: var(--violet);
}
.fa-color-yellow {
  color: var(--yellow);
}

.right {
  float: right;
  vertical-align: top;
}

.title {
  display: none;
}

.bs-callout + .bs-callout {
  margin-top: 0px;
}

.bs-callout h4 {
  font-size: 140%;
  margin-bottom: 2px;
}

.with {
  color: var(--base0);
  font-size: 80%;
  line-height: normal;
  margin-bottom: 6px;
}

.with > a:link {
  color: var(--base0);
}

.with > a:visited {
  color: var(--base0);
}

h3 {
  margin-bottom: 0px;
}

h3 > i {
  margin-right: 6px;
}

.subparts {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.2em;
  row-gap: 0.5em;
  line-height: 1.2;
}

.subpart-icon {
  justify-self: center;
}

.subpart-text {
  color: #333333;
  font-size: 90%;
}

.col-sm-4, .col-sm-5, .col-sm-6 {
  padding-left: 10px;
  padding-right: 10px;
}
