body {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

header p {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 19px;
  color: var(--base0);
  border-top: 1px solid rgb(238, 238, 238);
  margin-top: 40px;
}

.container {
  max-width: 730px;
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--blue);
}

#pronouns {
  color: var(--cyan);
}

.fa-color-blue {
  color: var(--blue);
}
.fa-color-cyan {
  color: var(--cyan);
}
.fa-color-green {
  color: var(--green);
}
.fa-color-magenta {
  color: var(--magenta);
}
.fa-color-orange {
  color: var(--orange);
}
.fa-color-red {
  color: var(--red);
}
.fa-color-violet {
  color: var(--violet);
}
.fa-color-yellow {
  color: var(--yellow);
}

.right {
  float: right;
  vertical-align: top;
}

.title {
  display: none;
}

h4 + p {
  margin-bottom: 3px;
}

.with {
  color: var(--base0);
  font-size: 80%;
  line-height: normal;
}

.with > a:link {
  color: var(--base0);
}

.with > a:visited {
  color: var(--base0);
}

h3 > i {
  margin-right: 2px;
}